@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Only works for single lines, otherwise use line-clamp-{x} */
  .text-wrangler {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}